
/* 确保你已经在HTML中包含了这些字体 */
@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 调整网页内容宽度 */
.container {
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 自适应屏幕大小的样式 */
/* 对于较小的屏幕，调整标题字体大小 */
@media only screen and (max-width: 768px) {
    .hero .title {
       font-size: 1.75rem;
    }
}

/* 对于中等屏幕，调整作者字体大小 */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hero .publication-authors {
       font-size: 1rem;
    }
}

/* 对于大屏幕，调整按钮大小 */
@media only screen and (min-width: 1025px) {
    .hero .publication-links .button {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
    }
}
